@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #767e9e;
    background-color: #f2f2f2;
}

h2 {
    font-size: 29.61px;
    font-weight: 900;
    line-height: 4.56px;
    margin-bottom: 20px;
}

h4 {
    font-size: 16.78px;
    font-weight: 600;
    line-height: 4.56px;
}

h6 {
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
}

p {
    font-size: 18px;
    font-weight: 300;
    padding-top: 20px;
    margin-bottom: 50px;
    letter-spacing: 2px;
}

.container {
    padding-top: 67px;
    padding-bottom: 67px;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    @media (max-width: 768px) {
        justify-content: center;
    }
}

.navbar-default {
    background-color: #303441 !important;
    height: 89px;
    border: none;
    border-bottom: 6px solid #373b4a;
    border-radius: 0;
    margin: 0;
    .navbar-toggle {
        margin-top: 20px;
        &:hover {
            background-color: #373b4a;
        }
        &:focus {
            background-color: #373b4a;
        }
    }
    .navbar-brand {
        color: #ffffff !important;
        font-size: 24px;
        font-weight: 400;
        margin-top: 17px;
    }
    .navbar-nav {
        background-color: #303441 !important;
    }
    .navbar-nav>li> {
        a {
            color: #ffffff !important;
            font-size: 11.66px;
            font-weight: 400;
            margin-top: 17px;
            @media (max-width: 768px) {
                margin: 0;
            }
            &:hover {
                color: #ee5052 !important;
                background-color: #303441 !important;
            }
            &:focus {
                color: #ee5052 !important;
                background-color: #303441 !important;
            }
            &:active {
                color: #ee5052 !important;
                background-color: #303441 !important;
            }
        }
        p {
            color: #494e62 !important;
            font-size: 14.66px;
            font-weight: 700;
            margin: 0;
            margin-top: 17px;
            padding: 15px 0;
            @media (max-width: 768px) {
                display: none;
            }
        }
    }
}

#slider {
    background-color: #eb5055;
    border-bottom: 6px solid #ea676b;
    img {
        margin: 0 auto;
    }
}

#services {
    min-height: 496px;
    border-bottom: 6px solid #ffffff;
    .service {
        display: flex;
        margin-top: 30px;
        justify-content: center;
        .service-img-border {
            border: 2px solid #767e9e;
            width: 60px;
            height: 60px;
            min-width: 60px;
            min-height: 60px;
            margin-right: 15px;
            border-radius: 50%;
            align-self: flex-start;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .service-para {
            align-self: auto;
        }
    }
}

#portfolio {
    background-color: #303441;
    border-bottom: 6px solid #373b4a;
    a {
        border: 1px solid #767e9e;
        color: #767e9e;
        text-decoration: none;
        margin: 5px;
        margin-top: 10px;
        border-radius: 5px;
        padding: 6px;
        &:hover {
            color: #dedede;
            border-color: #dedede;
        }
        &:focus {
            color: #dedede;
            border-color: #dedede;
        }
    }
    img {
        margin: 30px 10px;
    }
    p {
        margin-bottom: 20px;
    }
}

#about {
    border-bottom: 6px solid #ffffff;
    .person {
        width: 300px;
        margin: 5px;
        ;
        img {
            margin-bottom: 15px;
        }
        h4 {
            margin-bottom: 15px;
        }
        h6 {
            margin-bottom: 15px;
        }
        a {
            border: 1px solid #767e9e;
            color: #767e9e;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            margin: 5px;
            margin-top: 10px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            padding: 6px;

            &:hover {
                color: #dedede;
                border-color: #dedede;
            }

            &:focus {
                color: #dedede;
                border-color: #dedede;
            }
        }
    }
}

#contact {
    background-color: #eb5055;
    color: #f0d8d9;
    border-bottom: 6px solid #ea676b;

    input {
        border: none;
        border-radius: 5px;
        height: 40px;
        background-color: #ca4549;
        outline: none;

        &:focus {
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(251, 170, 172);
        }
    }

    textarea {
        border: none;
        border-radius: 5px;
        background-color: #ca4549;
        outline: none;

        &:focus {
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(251, 170, 172);
        }
    }

    ::-webkit-input-placeholder, ::-webkit-textarea-placeholder {
        color: #f48c8f;
        font-size: 12px;
    }

    h4 {
        margin-bottom: 25px;
    }

    h6 {
        margin-bottom: 20px;
    }

    i {
        width: 30px;
    }
}

footer {
    background-color: #303441;
    min-height: 76px;

    .container {
        padding: 0;
    }

    h5 {
        margin-top: 28px;
    }

    a {
            border: 1px solid #767e9e;
            color: #767e9e;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            margin: 5px;
            margin-top: 15px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            padding: 6px;

            &:hover {
                color: #dedede;
                border-color: #dedede;
            }

            &:focus {
                color: #dedede;
                border-color: #dedede;
            }
        }
}
